<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="PowerShell NLog Module"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="Joseph L. Casale"
           UpgradeCode="12db3470-bdf5-4dfe-a454-dfd2081aff72">
    <SummaryInformation Description="A PowerShell module for logging based on the NLog library." Comments="PSNLog v$(var.ProductVersion)" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Data.cab" EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="Product"
             Description="PowerShell NLog Module"
             Title="PSNLog"
             AllowAbsent="no">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <UI>
      <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />
      <!-- Remove LicenseAgreementDlg. -->
      <Publish Dialog="WelcomeDlg"
               Control="Next"
               Event="NewDialog"
               Value="InstallDirDlg"
               Order="2" />
      <Publish Dialog="InstallDirDlg"
               Control="Back"
               Event="NewDialog"
               Value="WelcomeDlg"
               Order="2" />
    </UI>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="WindowsPowerShell" Name="WindowsPowerShell">
        <Directory Id="Modules" Name="Modules">
          <Directory Id="PSNLog" Name="PSNLog">
            <Directory Id="INSTALLDIR" Name="$(var.ProductVersion)" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <Files Include="$(var.ProductSource)\**" />
    </ComponentGroup>
  </Package>
</Wix>