name: CI

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup wix
        run: |
          dotnet.exe tool install --global wix --version 6.0.2 --verbosity diag

          wix.exe extension add WixToolset.UI.wixext/6.0.2 --global
          wix.exe extension list --global

      - name: Generate version properties
        id: version
        run: |
          $pattern = '^(?<major>0|[1-9]\d*)\.(?<minor>0|[1-9]\d*)\.(?<patch>0|[1-9]\d*)(?:-(?<prerelease>(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+(?<buildmetadata>[0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$'
          $tag = git.exe describe --tags --abbrev=0
          $regex = [Text.RegularExpressions.Regex]::Match($tag, $pattern)
          if (!$regex.Success)
          {
              throw 'Failed to parse tag.'
          }

          $buildmetadata = 0
          if (![string]::IsNullOrWhiteSpace($regex.Groups['buildmetadata'].Value))
          {
              try
              {
                  $buildmetadata = [int]$regex.Groups['buildmetadata'].Value
              }
              catch
              {
                  throw 'Failed to parse the build metadata.'
              }
          }

          $module = '{0}.{1}.{2}' -f $regex.Groups['major'].Value, $regex.Groups['minor'].Value, $regex.Groups['patch'].Value
          $msi = '{0}.{1}' -f $module, $buildmetadata
          $major = $regex.Groups['major'].Value
          $minor = $regex.Groups['minor'].Value
          $patch = $regex.Groups['patch'].Value
          $prerelease = $regex.Groups['prerelease'].Value

          'tag={0}' -f $tag |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'module={0}' -f $module |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'msi={0}' -f $msi |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'major={0}' -f $major |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'minor={0}' -f $minor |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'patch={0}' -f $patch |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'prerelease={0}' -f $prerelease |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append
          'buildmetadata={0}' -f $buildmetadata |Tee-Object -FilePath $env:GITHUB_OUTPUT -Append

      - name: Run tests
        run: |
          cd .\src
          dotnet.exe test --project .\Tests\Tests.csproj --configuration Release --output Detailed

      - name: Clean solution
        run: dotnet.exe clean .\src\PSNLog.slnx --configuration Release

      - name: Publish project
        run: dotnet.exe publish .\src\PSNLog\PSNLog.csproj --configuration Release --output .\publish

      - name: Prepare release
        run: Remove-Item ./publish/* -Include *.pdb,*.xml -ErrorAction Stop

      - name: Generate PowerShell help
        run: |
          Install-Module -Name platyPS -Force -Confirm:$false -ErrorAction Stop
          Import-Module ./publish/PSNLog.psd1 -ErrorAction Stop
          Update-MarkdownHelp ./docs -UpdateInputOutput -Force -ErrorAction Stop
          New-ExternalHelp ./docs -OutputPath ./publish -ErrorAction Stop

      - name: Build installer
        run: |
          wix.exe `
            build `
            -arch x64 `
            -src src\Product.wxs `
            -d ProductSource="$(Resolve-Path ./publish)" `
            -d ProductVersion="${{ steps.version.outputs.msi }}" `
            -d ProductTag="${{ steps.version.outputs.tag }}" `
            -d ModuleVersion="${{ steps.version.outputs.module }}" `
            -ext WixToolset.UI.wixext `
            -out ps-nlog.msi

      - name: Validate installer
        run: wix.exe msi validate ps-nlog.msi

      - name: Upload artifacts
        uses: actions/upload-artifact@v6
        with:
          name: ps-nlog
          path: |
            ./docs/
            ./ps-nlog.msi
          if-no-files-found: error

      - name: Install msi
        run: |
          $process = Start-Process msiexec.exe -ArgumentList '/i','ps-nlog.msi','/qn' -Wait -NoNewWindow -PassThru -ErrorAction Stop
          if ($process.ExitCode -ne 0)
          {
              throw 'Non zero exit code: "{0}".' -f $process.ExitCode
          }

      - name: Test module
        shell: powershell
        run: |
          $PSVersionTable

          [Environment]::NewLine

          Get-Module PSNLog -ListAvailable

          [Environment]::NewLine

          $logger = New-NLogBasicLogger -Name foo -Path foo.log -ErrorAction Stop
          $logger.Info('Hello World!')
          Stop-NLogLogging

      - name: Publish release
        if: github.ref_type == 'tag'
        run: gh.exe release create ${{ steps.version.outputs.tag }} --title ${{ steps.version.outputs.tag }} --notes 'PowerShell NLog logging module.' ps-nlog.msi
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
